@import "../../../utilites/variables.scss";
.message {
  overflow: auto;
  &-card {
    height: 540px;
  }
  &-attachement,
  &-send {
    font-size: 24px;
  }
  &-attachement {
    color: $black;
  }
  &-send {
    color: $receiverColor;
  }
  &-button:hover {
    background-color: $messageBox !important;
    border-color: none !important;
    outline: none;
  }
  &-button,
  &-input {
    border: none;
    background-color: $messageBox;
  }
  &-sender,
  &-receiver {
    padding: 1rem 2rem;
    border-top-right-radius: 25px;
  }
  &-sender {
    border: 1px solid $senderColor;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: $senderColor;
    color: $black;
  }
  &-receiver {
    border: 1px solid $receiverColor;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: $receiverColor;
    color: $white;
  }
  &-right,
  &-left {
    display: flex;
  }
  &-right {
    flex-direction: row-reverse;
  }
  &-time {
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
