$violet: #8f00ff;
$lightGreen: #82c4be;
$orange: #ec582d;
$background: #fbfbfb;
$iconColor: #cccccc;
$senderColor: #f3f3f3;
$receiverColor: #06aaf2;
$black: black;
$white: white;
$messageBox: #e5e5e5;
$darkGrey: #525252;
$lightGrey: #c4c4c4;
