@import "../../../utilites/variables.scss";

.contact {
  &-body {
    padding: 1rem;
  }
  &-text {
    font-size: 15px;
  }
  &-icon {
    font-size: 20px;
    &-color {
      color: $iconColor;
    }
  }
  &-button,
  &-button:hover {
    background-color: transparent;
    color: $orange;
    border: 1px solid $orange;
    margin: 0 auto;
  }
  &-button {
    &-text {
      font-size: 14px;
    }
  }
}
