@import "../../../../utilites/variables.scss";

.apexcharts-canvas {
  margin-left: auto;
  margin-right: auto;
}
.progress-bar-clr {
  color: $violet;
}

#SvgjsPath1019 {
  stroke: $violet;
}
#SvgjsText1017 {
  text-align: center;
}
