@import "../../../utilites/variables.scss";

.seller {
  & img {
    width: 55px !important;
  }
}
.seller,
.buyer {
  text-align: center;
  &-name {
    color: $violet;
    &-position {
      color: $lightGrey;
    }
  }
}
.processbar {
  flex-direction: column;
  margin: 2rem 0;
  &-img,
  &-text {
    display: flex;
    &-one {
      margin: 0 2rem;
    }
    &-two {
      margin: 0 1rem;
    }
  }
  &-img {
    justify-content: center;
    &-icon {
      position: absolute;
      top: 5px;
      font-size: 30px;
      color: $violet;
    }
  }
  &-text {
    justify-content: space-around;
  }
  &-dash {
    border-top: 2px dashed grey;
    width: 45%;
    margin: 2rem 0;
  }
}
