@import "../../../utilites/variables.scss";

.hr-line {
  border-top: 2px dashed grey;
  width: 45%;
  margin: 2rem 0;
}

.todo {
  justify-content: space-around;
  &-tab {
    display: flex;
    justify-content: center;
    &-box {
      &-icon {
        border: 1px solid black;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding: 15px;
      }
      &-name {
        display: flex;
        justify-content: space-around;
      }
    }
  }
  &-list {
    justify-content: space-around;
    &-items {
      & p {
        color: $lightGreen;
      }
      &-two {
        & p {
          color: $violet;
        }
      }
    }
  }
}
