@import "../../../utilites/variables.scss";

.hr-line {
  border-top: 2px dashed $lightGrey;
  width: 45%;
  margin: 2rem 0;
}

.todo {
  justify-content: space-around;
  &-tab {
    display: flex;
    justify-content: center;
    &-box {
      &-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding: 15px;
        &-one {
          border: 1px solid $violet;
        }
        &-two {
          border: 1px solid $lightGrey;
        }
      }
      &-name {
        display: flex;
        justify-content: space-around;
      }
    }
    &-color {
      &-one {
        color: $violet;
      }
      &-two {
        color: $lightGrey;
      }
    }
  }
  &-list {
    justify-content: space-around;
    &-items {
      & p {
        color: $lightGreen;
      }
      &-two {
        & p {
          color: $violet;
        }
      }
    }
    &-grey {
      color: $lightGrey;
    }
  }
}
