@import "~bulma/sass/utilities/_all.sass";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 5rem;
  min-height: 100vh;
  position: relative;
  font-family: "Varela", sans-serif;
}
